<?xml version="1.0" encoding="UTF-8"?>
<!-- classpath:/mybatis/mybatisConfig.xml -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Aliases : 별칭 -->
	<typeAliases>
		<!--
		 package에 포함된 모든 클래스에 별칭 부여 MemberVO == memberVO
		 <package name="com.bitc.db_test.vo"/>
		 -->
		<typeAlias type="com.bitc.db_test.vo.MemberVO" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/sql/memberMapper.xml"/>
	</mappers>
</configuration>
